@import 'variables';
@import 'spinner';
@import 'main-page';
@import 'sub-page';
@import 'about';

body{
	background-color: $dark-purple;
     font-family: $paragraph;
     color: $white;
}

.main-header h1, .subpage-header h1{
     font-family: $headline;
     margin: 0;
     /*display: inline-block;
     float: left;*/
     text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 2px 0 #b9b9b9,
               0 2px 0 #aaa,
               0 2px 1px rgba(0,0,0,.5),
               0 0 5px rgba(0,0,0,.3),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
     letter-spacing: .01em;
}

.nav{

     text-align: right;
     //padding: 12px 1.25% 15px 1.25%;

     ul {
          list-style: none;
     }

     li{
          display: inline-block;
          font-size: .875em;
          margin-right: 1em;

          a{
               color: $colonial-yellow;
               text-decoration: none;

               &:hover{
                    color: $bright-green;
               }
          }

     }

}

.nav li.social-list{
     margin-right: .2em;
     margin-left: .5em;
}

.social-icons{
     height: 20px;
     width: 25px;
     vertical-align: middle;
}

.social-path{
     fill: $colonial-yellow;

     &:hover{
          fill: $bright-green;
     }
}

.social-icons.first-social{
     margin-left: 20px;
}

.active{
     border-bottom: $border-style;
     padding-bottom: 5px;
     color: $bright-green;
}

.body-link{
 color: $bright-green;
 text-decoration:none;    
}

footer{
     @include clearfix;
     font-size: .8em;
     text-align: right;
     margin-bottom: 5px;
     margin-right: 2%;
     color: $colonial-yellow;
     height: 35px;
     margin-top: 10px;
}
